<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta lang="pl">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Platforma testowa</title>

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="{% static 'css/testy.css' %}">
</head>

<body>
  <header class="w3-container w3-teal w3-center"><span>Platforma testowa</span></header>

  {% block content %}

  {% endblock content %}
</body>
</html>
